.App {
  text-align: center;
}

.navigator{
  display: inline-block;
}

.App-logo {
  height: 40vmin;
}


.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.selected_playlist, .selected_gamemode, .selected_answer {
  background-color: #a5a5a5;
}
